* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url(../assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}

body {
    font-family: 'SF-Pro-Display';
    color: #111111;
}


/* Header */
header {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0px 100px;
}

header a {
    font-weight: lighter;
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    padding: 10px 5px;
}

header .logo a {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

header .logo a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -3px;
}
/* End Header */

/* Content */
content {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

content#index {
    align-items: left;
    max-width: 850px;
    margin: 0 auto;
}

content#recherche {
    align-items: center;
    margin: 0 50px;
}

content#resultat {
    margin: 0 100px;
    align-items: left;
}

/* mise en forme page principale */
content > h1 {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 30px 0 10px 0;
    line-height: 50px;
    border-bottom: 1px solid #d2d2d7;
}

content > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

content > p {
    font-size: 18px;
    word-spacing: 2px;
    margin: 10px 0;
}

.argument {
    border-top: 1px solid #d2d2d7;
    padding: 10px;
}

.argument h3 {
    margin-left: -10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    overflow-x: scroll;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table td, th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px; 
    word-break: normal;
}

th {
    font-size: 17px;
}
/* fin mise en forme page principale */

/* barre de recherche */
.search_bar {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    padding: 10px 20px;
    width: 90%;
    border-radius: 5px;
}

.search_input {
    background: none;
    border: none;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
    color: #111111;
    outline: none;
}

.search_input::placeholder {
    color: #888888;
}

.search_icons {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.search_button_icon {
    padding-left: 10px;
    cursor: pointer;
}

.search_button {
    background: none;
    border: none;
    cursor: pointer;
}

input:focus, .search_input:focus {
    outline: none;
}
/* fin barre de recherche */


/* début cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .item {
    background-color: #eeeeee;
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #111111;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #d2d2d7;
}

.cards .item img {
    position: absolute;
    height: 220px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.cards .bottom-item {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    border-radius: 19px;
    background-color: #d2d2d7;
}

.cards .info {
    text-overflow: ellipsis;
    width: 100%;
    height: calc(100% - 70px);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.cards .name {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.cards .artist {
    font-size: 20px;
    font-weight: lighter;
    line-height: 24px;
    color: #8E8E8E;
}

.cards .price {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

.cards .details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    z-index: 2;
    border-radius: 19px;
    background-color: #0071e3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
/* fin cards */

/* Affichage page unique */
.album {
    display: flex;
    align-items: center;
    margin: 50px;
}

.album .cover {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.album .cover img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #d2d2d7;
    object-fit: cover;
    object-position: center;
}

.album .info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 10px;
}

.album h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 10px;
}

.album h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eeeeee;
    margin: 0px 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content .first_line, .content .second_line, .content .third_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .first_line {
    margin-bottom: 10px;
}

.content .name {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.content .price {
    color: #0071e3;   
}

.content .duration {
    color: #8E8E8E;
}

.content button {
    border-radius: 50%;
    padding: 17px;
    cursor: pointer;
    color: #fff;
    background-color: #0071e3;
    border: none;
    outline: none;
}

.content button span {
    position: absolute;
    transform: translate(-50%, -50%);
}

/* fin page unique */

/* Affichage page unique film */
.film {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.film .cover {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.film .cover video {
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #d2d2d7;
    object-fit:contain;
    object-position: center;
    background-color: #111111;
}

.film .info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description#movie {
    margin: 50px;
    width: auto;
}
/* fin page unique film */

/* Affichage page unique livre */
.album#book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px;
    width: 100%;
    height: 100%;
    min-height: 550px;
}

.album#book .cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    width: 25%;
    height: 100%;
    background-color: #eeeeee;
}

.album#book .cover .book_cover {
    width: 100%;
    overflow: hidden;
}

.album#book .cover img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #d2d2d7;
    object-fit: cover;
    object-position: center;
}

.album#book .info {
    padding: 10px 20px;
    margin: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111111;
}

.description {
    background-color: #eeeeee;
    padding: 20px;
    margin-left: 20px;
    width: 75%;
    height: 100%;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.description h1 {
    font-size: 38px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 10px;
}

button#book {
    border-radius: 20px;
    padding: 10px 20px;
}


/* Footer */
footer {
    background-color: #f5f5f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0px 100px;
}

footer a {
    color: #111111;
    text-decoration: none;
}
/* End Footer */