<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>iTunes API</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://performance-partners.apple.com/search-api">
                <img src="/assets/images/icon-apple.svg" alt="logo apple">
                <h1>iTunes API</h1>
            </a>
        </div>
        <nav>
            <a href="/">Présentation</a>
            <a href="/search">Recherche</a>
        </nav>
    </header>
    <content id="resultat">
        <h1>Erreur 404</h1>
        <h2>La page que vous recherchez n'existe pas</h2>
        <p>Rendez-vous sur la page d'<a href="/">accueil</a></p>
        <img src="/assets/images/default-image.jpg" alt="default image for no results">
    </content>
    <footer>
        <p>© 2023 - Itunes API</p>
        <p>Créé par <a href="https://github.com/valentinlamine">Valentin LAMINE</a></p>
    </footer>
</body>
</html>