<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>iTunes API</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://performance-partners.apple.com/search-api">
                <img src="/assets/images/icon-apple.svg" alt="logo apple">
                <h1>iTunes API</h1>
            </a>
        </div>
        <nav>
            <a href="/">Présentation</a>
            <a href="/search">Recherche</a>
        </nav>
    </header>
    <content id="recherche">
        <form action="/search" class="search_bar" method="post">
            {{if .Success}}
            <input type="text" autofocus class="search_input" name="search" placeholder="Rechercher un artiste, un album, une chanson..." value="{{.Request}}">
            <select name="type" id="type" class="search_select">
                {{if eq .RequestType "music"}}
                <option value="music" selected>Musique</option>
                <option value="movie">Film</option>
                <option value="tvShow">Série TV</option>
                <option value="ebook">Livre</option>
                {{end}}
                {{if eq .RequestType "movie"}}
                <option value="music">Musique</option>
                <option value="movie" selected>Film</option>
                <option value="tvShow">Série TV</option>
                <option value="ebook">Livre</option>
                {{end}}
                {{if eq .RequestType "tvShow"}}
                <option value="music">Musique</option>
                <option value="movie">Film</option>
                <option value="tvShow" selected>Série TV</option>
                <option value="ebook">Livre</option>
                {{end}}
                {{if eq .RequestType "ebook"}}
                <option value="music">Musique</option>
                <option value="movie">Film</option>
                <option value="tvShow">Série TV</option>
                <option value="ebook" selected>Livre</option>
                {{end}}
            </select>
            {{else}}
            <input type="text" autofocus class="search_input" name="search" placeholder="Rechercher un artiste, un album, une chanson...">
            <select name="type" id="type" class="search_select">
                <option value="music" selected>Musique</option>
                <option value="movie">Film</option>
                <option value="tvShow">Série TV</option>
                <option value="ebook">Livre</option>
            </select>
            {{end}}
            <div class="search_icons">
                <img src="/assets/images/rod.svg" alt="rod" class="rod">
                <button type="submit" class="search_button">
                    <img src="/assets/images/search.svg" alt="search" class="search_button_icon">
                </button>
            </div>
        </form>
        {{if ne .ResultCount 0}}
        <div class="cards">
            {{range .Results}}
            <div class="item">
                <img src="{{.PreviewImage}}" alt="song preview">
                <div class = "bottom-item">
                    <div class="info">
                        <div class="firstgroup">
                            <p class="name">{{.Title}}</p>
                            <p class="artist">{{.Artist}}</p>
                        </div>
                        <p class="price">{{.Price}} $</p>
                    </div>
                    <div class="details" onclick="window.location.href='/search?id={{.Id}}';">
                        <p>Voir plus de détails</p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
        {{if eq .ResultCount 0}}
        <h1>Aucun résultat trouvé</h1>
        <img src="/assets/images/default-image.jpg" alt="default image for no results">
        {{end}}
    </content>
    <footer>
        <p>© 2023 - Itunes API</p>
        <p>Créé par <a href="https://github.com/valentinlamine">Valentin LAMINE</a></p>
    </footer>
</body>
</html>