<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>iTunes API</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/images/icon-apple.svg" alt="logo apple">
            <h1>iTunes API</h1>
        </div>
        <nav>
            <a href="index.html">Présentation</a>
            <a href="search.html">Recherche</a>
            <a href="top.html">Top 10</a>
        </nav>
    </header>
    <content>
        <h1>iTunes Search API</h1>
        <h2>Présentation globale</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo porro soluta obcaecati id quod voluptatem cum suscipit numquam? Culpa dolorem cum natus repudiandae iste. Velit vel omnis dolor sunt!</p>


    </content>
    <footer>
        <p>© 2023 - Itunes API</p>
        <p>Créé par <a href="https://github.com/valentinlamine">Valentin LAMINE</a></p>
    </footer>
</body>
</html>