<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>iTunes API</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://performance-partners.apple.com/search-api">
                <img src="/assets/images/icon-apple.svg" alt="logo apple">
                <h1>iTunes API</h1>
            </a>
        </div>
        <nav>
            <a href="/">Présentation</a>
            <a href="/search">Recherche</a>
        </nav>
    </header>
    {{range .Results}}
    <content id="resultat">
        {{if eq .Type "song"}}
        <script src="/scripts/play.js"></script>
        <audio id="source" src="{{.PreviewContent}}"></audio>
        <div class="album">
            <div class="cover">
                <img src="{{.PreviewImage}}" alt="album cover" onclick="PlayPreview()">
            </div>
            <div class="info">
                <h1>{{.Album}}</h1>
                <h2>{{.Artist}}</h2>
                <h3>{{.ReleaseDate}}</h3>
            </div>
        </div>       
        <div class="content">
            <div class="first_line">
                <p class="name">{{.Title}}</p>
                <button onclick="PlayPreview()"><span>▶</span></button>
            </div>
            <div class="second_line">
                <p class="price">{{.Price}} $</p>
                <p class="duration">{{.Duration}}</p>
            </div>
        </div>
        
        {{else if or (eq .Type "movie") (eq .Type "tv-episode") (eq .Type "music-video")}}
        <script src="/scripts/play.js"></script>
        <div class="film">
            <div class="cover">
                <video id="source" src="{{.PreviewContent}}" poster="{{.PreviewImage}}" onclick="PlayPreview()"></video>
            </div>
        </div>       
        <div class="content">
            <div class="first_line">
                <p class="name">{{.Title}}</p>
                <button onclick="PlayPreview()"><span>▶</span></button>
            </div>
            <div class="second_line">
                <p class="artist">{{.Artist}}</p>
                <p class="ReleaseDate">{{.ReleaseDate}}</p>
            </div>
            <div class="third_line">
                <p class="price">{{.Price}} $</p>
                <p class="duration">{{.Duration}}</p>
            </div>
        </div>
        {{if ne .Type "music-video"}}
            <div class="description" id="movie">
                <h1>Description :</h1>
                <p>{{.Description}}</p>
            </div>
        {{end}} 
        
        {{else if eq .Type "ebook"}}
        <script src="/scripts/resize.js"></script>
        <div class="album" id="book">
            <div class="cover" id="book_cover">
                <div class="book_cover">
                    <img src="{{.PreviewImage}}" alt="book cover" onclick="window.location.href='{{.PreviewContent}}'">
                </div>
                <div class="info">
                    <h1>{{.Title}}</h1>
                    <h2>{{.Artist}}</h2>
                    <h3>{{.ReleaseDate}}</h3>
                </div>
            </div>
            <div class="description" id="book_description">
                <h1>Description :</h1>
                <script>
                    var description = "{{.Description}}";
                    document.write(DecodeHtml(description));

                    function DecodeHtml(html) {
                        var txt = document.createElement("textarea");
                        txt.innerHTML = html;
                        return txt.value;
                    }
                </script>
            </div>
        </div>       
        <div class="content">
            <div class="first_line">
                <p class="name">{{.Title}}</p>
                <button id="book" onclick="window.location.href='{{.PreviewContent}}'">Voir plus de détails</button>
            </div>
            <div class="second_line">
                <p class="price">{{.Price}} $</p>
                <p class="duration">Ce contenu n'a pas du durée défini</p> <!--C'est pas un beug ici le texte reste volontairement-->
            </div>
        </div>
        {{end}}
    </content>
    {{end}}
    {{if eq .ResultCount 0}}
    <content id="resultat">
        <h1>Aucun résultat trouvé</h1>
        <h2>C'est pas bien de bidouiller dans l'url</h2>
        <img src="/assets/images/default-image.jpg" alt="default image for no results" width="50%" height="50%">
    </content>
    {{end}}
    <footer>
        <p>© 2023 - Itunes API</p>
        <p>Créé par <a href="https://github.com/valentinlamine">Valentin LAMINE</a></p>
    </footer>
</body>
</html>