<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>iTunes API</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://performance-partners.apple.com/search-api">
                <img src="/assets/images/icon-apple.svg" alt="logo apple">
                <h1>iTunes API</h1>
            </a>
        </div>
        <nav>
            <a href="/">Présentation</a>
            <a href="/search">Recherche</a>
            <a href="/">Top 10</a>
        </nav>
    </header>
    {{range .Results}}
    <content id="resultat">
        <audio id="source" src="{{.PreviewContent}}"></audio>
        <div class="album">
            <div class="cover">
                <img src="{{.PreviewImage}}" alt="album cover">
            </div>
            <div class="info">
                <h1>{{.Album}}</h1>
                <h2>{{.Artist}}</h2>
                <h3>{{.ReleaseDate}}</h3>
            </div>
        </div>       
        <div class="song">
            <div class="first_line">
                <p class="name">{{.Title}}</p>
                <button onclick="PlayPreview()"><span>▶</span></button>
            </div>
            <div class="second_line">
                <p class="price">{{.Price}} $</p>
                <p class="duration">{{.Duration}}</p>
            </div>
        </div>
    </content>
    {{end}}
    <script>
        function PlayPreview() {
            var element = document.getElementById('source');
            if (element.paused) {
                element.play();
            }
            else {
                element.pause();
            }
        }
    </script>
    <footer>
        <p>© 2023 - Itunes API</p>
        <p>Créé par <a href="https://github.com/valentinlamine">Valentin LAMINE</a></p>
    </footer>
</body>
</html>